In [1]:
e = "hello"

In [2]:
print(e)

hello

In [7]:
print(e[1:])

ello

In [8]:
f = ". world"
g = e + f
print(g)

hello. world

In [68]:
list10 = [1, 2, 3, [6, 7]]

In [13]:
list[3][1]

7

In [15]:
len(list[3])

2

In [16]:
len(list)

4

In [25]:
list1 = [ 3, 5, 2, 7]

In [21]:
list1.sort()

In [22]:
print(list1)

[2, 3, 5, 7]

In [23]:
list1.reverse()

In [24]:
print(list1)

[7, 5, 3, 2]

In [30]:
sorted(list1, reverse=True)

[7, 5, 3, 2]

In [29]:
# sorted함수를 사용해도 따로 초기화해주지않으면 원값은 변하지 않는다.
print(list1)

[3, 5, 2, 7]

In [31]:
list4 = [3, 5, 3, 3, 3]

In [34]:
print(type(list4))

<class 'list'>

In [35]:
list5 = (1, 2, 3, 4, 5)

In [36]:
print(type(list5))

<class 'tuple'>

In [39]:
list5[3] = 7

TypeError: 'tuple' object does not support item assignment

In [40]:
dic = {'name': 'john',
      'age': '19',
      'hobby': ['reading','soccer']}

In [41]:
print(dic)

{'name': 'john', 'age': '19', 'hobby': ['reading', 'soccer']}

In [45]:
dic['blood'] = 'A'

In [46]:
print(dic)

{'name': 'john', 'age': '19', 'hobby': ['reading', 'soccer'], 'blood': 'A'}

In [47]:
del dic['blood']

In [49]:
print(dic)

{'name': 'john', 'age': '19', 'hobby': ['reading', 'soccer']}

In [50]:
print(dic['age'])

19

In [63]:
print(dic.keys())

dict_keys(['name', 'age', 'hobby'])

In [65]:
dic01 = {'name': 'john',
      'age': '19',
      'hobby': ['reading','soccer']}

In [66]:
print(dic01.keys())

dict_keys(['name', 'age', 'hobby'])

In [73]:
list06 = list(dic01.keys())

In [71]:
del list

In [72]:
print(list)

<class 'list'>

In [76]:
list06

['name', 'age', 'hobby']

In [79]:
print(dic01.items())

dict_items([('name', 'john'), ('age', '19'), ('hobby', ['reading', 'soccer'])])

set("hello")

In [82]:
score = 80
if score > 90:
    print("A 등급입니다.")
else:
    print("B 등급입니다.")

B 등급입니다.

In [83]:
c = 3
list07 = [1, 2, 3, 4, 5]
c in list07

True

In [86]:
c not in list07

False

In [91]:
# 반복문
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [92]:
seq = [1, 2, 5, 10]
for i in seq:
    print(i)

1
2
5
10

In [93]:
# enumerate 함수를 사용하면 리스트 요소를인덱스 값과 같이 출력합니다.

seq = ["Seoul","Busan","Daegu"]
for idx, city in enumerate(seq):
    print(idx, city)

0 Seoul
1 Busan
2 Daegu

In [94]:
i = 0
while(i < 5):
    print("안녕하세요")
    i = i + 1

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [95]:
i / 0

ZeroDivisionError: division by zero

In [96]:
# 파이썬에서는 try, except, finally문을 이용해 예외처리 합니다
try:
    1 / 0
    print("계산완료")
except:
    print("0으로 나눌수 없습니다.")

0으로 나눌수 없습니다.

In [97]:
try:
    2 / 1
    print("계산완료")
except:
    print("오류로 인해 계산 되지 않습니다")

계산완료

In [98]:
try:
    2 / 1
    print("계산완료")
except:
    print("오류로 인해 계산 되지 않습니다")
finally:
    print("작업이 완료되었습니다.")

계산완료
작업이 완료되었습니다.