# 3. 딕셔너리(Dictionary)
> 문법 기호/함수 : {key1 : value1, key2 : value2, key3 : value3...} / 함수 :dict()

> key로 가질 수 있는 데이터 타입 : 문자, 숫자, 튜플(tuple)

> value로 가질 수 있는 데이터 타입 : 문자, 숫자, 리스트(list), 딕셔너리(Dict)...

> 아이템 = key&value 하나의 쌍

> 종류
    * 아이템이 없는 딕셔너리
    
    * 1차원 딕셔너리
    
    * 다차원 딕셔너리

> 특징 
    * key, value의 차이점
    
    * 인덱스 번호를 가지지 않는다.

### 1. 생성하기

In [1]:
# 딕셔너리 생성하기
# 문법기호 : {k1:v1, k2:v2, k3:v3...}
d1 = {1:10, 2:20, 3:30}
type(d1)

dict

In [3]:
# 함수 dict()를 이용해서 딕셔너리를 만들수도 있습니다
d2 = dict()
d2

{}

In [4]:
# 2차원 자료를 이용해 딕셔너리로 변환 가능
x = [['a', 'b'], ['a1', 'b1'],['a2', 'b2']]
type(x)

list

In [6]:
# 2차원배열 x를 딕셔너리로 변환
dict(x)

{'a': 'b', 'a1': 'b1', 'a2': 'b2'}

In [7]:
# 딕셔너리의 value값에 들어갈 수 있는 자료에는 제약이 없다
{1: [1, 2, 3], 2: {'a' : 'b'}}

{1: [1, 2, 3], 2: {'a': 'b'}}

In [8]:
# key와 value의 차이
# key값에는 중복된 자료가 들어갈 수 없으며
# 만약 선언단계에서 중복된 key값으로 아이템을 선언시 가장 마지막 하나만 남습니다
{'name' : '홍길동', 'name' : '임꺽정', 'name2': '이순신'}

{'name': '임꺽정', 'name2': '이순신'}

### 2. 인덱싱

- 인덱싱 문법 기호


- 일차원 vs 다차원 인덱싱


- 딕셔너리 내장함수로 인덱싱

In [9]:
# 기존의 인덱싱 방법 : 객체[인덱싱번호]
a = [1, 2, 3]
a[0]

1

In [10]:
# 문자, 리스트타입 인덱싱과의 차이점 : 기준값이 인덱스번호가 아닌 key값을 사용
d1 = {'a' : 10, 'b' : 20, 'c' : 30}

In [11]:
#인덱싱 방식 : 없는값을 조회하면 에러
d1['d']

KeyError: 'd'

In [14]:
# 내장함수.get()을 사용하면 없는 키값으로 조회해도 에러가 나지 않습니다
d1.get('d')

In [15]:
# 딕셔너리는 슬라이싱이 불가능하다
# 슬라이싱대신 반복문을 사용하는 수밖에 없다
d1['a' : 'c']

TypeError: unhashable type: 'slice'

### << 연습문제 >>

아래와 같은 다차원 딕셔너리를 만들고 제시한 값을 출력해보세요

    {'a' : [1, 2, 3], 'b' : 100, 'c' : {'key1' : ['파인애플', '포도', '바나나'], 'key2' : (55, 66)}}

In [16]:
a =  {'a' : [1, 2, 3], 'b' : 100, 'c' : {'key1' : ['파인애플', '포도', '바나나'], 'key2' : (55, 66)}}

In [22]:
# 1) 3 출력하기
a.get('a')[2]

3

In [26]:
# 2) ['파인애플', '포도', '바나나'] 출력하기
a.get('c').get('key1')

['파인애플', '포도', '바나나']

In [27]:
# 3) 포도 출력하기
a.get('c').get('key1')[1]

'포도'

In [28]:
# 4) 55 출력하기
a.get('c').get('key2')[0]

55

### 3. 아이템 추가하기

- 인덱싱 방식으로 새로운 아이템 추가

- 메소드 : update()

In [29]:
d1 = {'a' : 1, 'b': 2 ,'c' : 3 }

In [30]:
# 새로운 key값(인덱싱)에 value값을 할당하여 아이템 추가
d1['d'] = 4
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# 기존에 존재하는 key값에 대해서 value를 할당하면 값이 갱신됨
d1['a'] = 10
d1

{'a': 10, 'b': 2, 'c': 3, 'd': 4}

In [32]:
# 하나 이상의 아이템(key& value) 추가/ 수정 : 딕셔너리자료.update()
# 추가할 아이템 타입 : 딕셔너리, 리스트(2차원으로 내부 요소가 2개씩 쌍으로 있는 경우)
# 'e' : 10, 'z' : 40, 'v' : 100
d1.update({'e' : 10, 'z' : 40, 'v' : 100})
d1

{'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 10, 'z': 40, 'v': 100}

In [33]:
# 리스트로 처리하기
d2 = {'a' : 10, 'b' : 2, 'c' : 3, 'd' : 4}

In [35]:
data = [('b', 10), ('e', 50), ('f', 100)]
d2.update(data)
d2

{'a': 10, 'b': 10, 'c': 3, 'd': 4, 'e': 50, 'f': 100}

### 4. 삭제하기

- 하나의 아이템 삭제하기

- 모든 아이템 삭제하기 : 객체는 삭제되지 않는다

In [36]:
# 하나의 아이템 삭제하기 : del+ 인덱싱(단, .get()에 대해서는 del키워드를 쓸 수 없음)
del d2['d']
d2

{'a': 10, 'b': 10, 'c': 3, 'e': 50, 'f': 100}

In [39]:
# 딕셔너리 비우기 : 딕셔너리.clear()
# del은 변수 자체가 삭제되지만 .clear()는 변수는 남아있되 내부만 비워준다
d2.clear()

In [40]:
d2

{}

In [41]:
# 주의 : del 키워드로 전체 삭제시 , 빈 딕셔너리조차 안남음
del d1
d1

NameError: name 'd1' is not defined

### 5. 딕셔너리 내장함수 & 관련 연산자

- 딕셔너리타입.keys()

- 딕셔너리타입.values()

- 딕셔너리타입.items()

- in연산자

In [42]:
# 딕셔너리가 가지고 있는 key값만 리스트 형식으로 반환 : .keys()
d1 = {'name' : '홍길동', 'age' : 18, 'job' : '학생'}
d1.keys()

dict_keys(['name', 'age', 'job'])

In [43]:
# 리스트로 바꿔주고 싶다면 (dict_keys는 유사 리스트임)
# list()로 감쌉니다
list(d1.keys())

['name', 'age', 'job']

In [44]:
# 딕셔너리가 가지고 있는 value만 리스트 형식으로 반환 : values()
d1.values()

dict_values(['홍길동', 18, '학생'])

In [45]:
# 딕셔너리가 가진 아이템 key& value를 튜플로 묶어서 리스트 형식으로 : .items()
d1.items()

dict_items([('name', '홍길동'), ('age', 18), ('job', '학생')])

### << 연습문제 >>

1. 아래와 같은 딕셔너리를 생성하고 해당 딕셔너리의 value 중 최소값을 구하여 형식에 맞게 출력하세요
   최소값은 min(리스트)로 구할수 있습니다
   
       - 생성 딕셔너리 : {'A' : 9, 'B' : 80, 'C' : 70}
       
       - 조건 1. 생성한 딕셔너리에 " 'D' : 20, 'E' : 100, 'F' : 10 "아이템 3개를 추가하세요
       
       - 조건 2. key 'A'의 값을 9에서 90으로 변경하세요
       
       - 조건 3. '최소 값 10을 가진 key는 F입니다.' 로 포맷팅을 사용하여 출력하고 10을 포맷팅 값으로 사용하세요
       
       - 조건 4. 최소 값은 딕셔너리에 속한 내장함수와 파이썬 내장함수를 모두 사용하여 구해보세요

In [47]:
d3 =  {'A' : 9, 'B' : 80, 'C' : 70}
d3

{'A': 9, 'B': 80, 'C': 70}

In [48]:
d3.update({'D' : 20, 'E' : 100, 'F' : 10})
d3

{'A': 9, 'B': 80, 'C': 70, 'D': 20, 'E': 100, 'F': 10}

In [49]:
d3['A'] = 90
d3

{'A': 90, 'B': 80, 'C': 70, 'D': 20, 'E': 100, 'F': 10}

In [61]:
value2 = max(d3.keys())

In [62]:
value1 = min(d3.values())

In [66]:
'최소 값 %d을 가진 key는 %s입니다.' % (value1, value2)

'최소 값 10을 가진 key는 F입니다.'

In [74]:
d3.items()

dict_items([('A', 90), ('B', 80), ('C', 70), ('D', 20), ('E', 100), ('F', 10)])

In [82]:
min(d3.values())

10

In [ ]:
2. 1번에서 사용한 d1 딕셔너리를 출력했을 때 아래와 같이 보여지게 작성해보세요

    [('A', 90), ('B', 80), ('C', 70), ('D', 20), ('E', 100), ('F', 10)]

In [84]:
list(d3.items())

[('A', 90), ('B', 80), ('C', 70), ('D', 20), ('E', 100), ('F', 10)]

In [90]:
# 딕셔너리의 in, not in 키워드는 key값이 존재하는지 아닌지만을 따집니다.
90 in d1

False