# 자료형

여러 개의 아이템들을 저장하는 객체 = 여러 개의 값(데이터타입)을 저장하는 그릇

## 1. 리스트(List)

▶ 문법 기호 : [아이템1, 아이템2, 아이템3 .... ]


▶ 용어 : 아이템 = 요소


▶ 아이템으로 가질 수 있는 데이터 타입 : 문자, 숫자, 리스트, 딕셔너리 ...


▶ 종류

     * 아이템이 없는 리스트
    
     * 1차원 리스트
    
     * 다차원 리스트 
    
    
▶ 특징

     * 인덱스 활용
    
     * 다차원 리스트의 구조에 대한 이해

### 1. 생성하기

In [1]:
# 빈 리스트 생성하기 = 아이템이 없는 리스트
# 문법기호 : []
# 함수 : list()
a = []
a2 = list()
print(type(a), type(a2))
print(a, a2)

<class 'list'> <class 'list'>
[] []

In [4]:
# 모든 데이터타입을 아이템으로 가질 수 있다
a3 = ['a', 10, 1.1, [1, 23.1, 'a']]

In [7]:
# 2차원 배열이며. 인덱스를 2개를 써야 하나의 값을 타겟으로 잡을 수 있다
a3[3][1]

23.1

In [ ]:
# 3차원 배열 예시
[1, 2, 3, ,4 ,5, 6]

## 2. 인덱싱, 슬라이싱

리스트를 인덱스 번호로 접근하면 해당하는 위치의 값(아이템)을 가져온다

복습
    -첫 번째 인덱스 번호는 ? = 0번 인덱스 = 첫 번째 아이템
    - 마지막 인덱스 번호는 ? = -1 = 마지막 아이템

### 인덱싱(indexing)
복습 : 특정 위치에 있는 하나의 아이템에 접근한다 = 하나의 값을 가져온다

In [8]:
# 리스트 생성하기
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# 첫 번째 아이템 인덱스 번호 : 0
# 인덱싱 문법 : 객체[인덱스 번호]
a[0]

1

In [11]:
# 리스트에서 6을 가져와주세요
a[5]

6

In [12]:
# 리스트의 마지막 값 확인하기
a[-1]

9

### 슬라이싱(Slicing)

- 정의 복습 : 연속된 범위에 있는 하나 또는 하나 이상의 여러개 아이템에 접근한다.
- 문법 기호 : 대상객체(문자열, 리스트)[시작번호:끝번호:간격] => 끝번호는 포함하지 않는다

In [13]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# 리스트의 0~2번째 아이템까지 확인하기
# 시작번호 : 0
# 끝번호 : 2 -> 3
a[0:3]

[1, 2, 3]

In [15]:
# 리스트의 3번째 아이템부터 마지막 아이템까지 확인하기
# 시작번호 : 3
# 끝번호 : 생략
a[3:]

[4, 5, 6, 7, 8, 9]

### << 연습문제>>
다음의 4차원 리스트에서 아래 조건에 맞는 값을 출력해주세요
      
      a = [1,2,3, ['a', [100,200,['강남','서울'], 300,], 'b','c']]
      
      출력결과 = 강남 & 300 & c
      
      포매팅을 써서 해주세요

In [17]:
 a = [1,2,3, ['a', [100,200,['강남','서울'], 300,], 'b','c']]

In [49]:
value1 = a[3][1][2][0]
value1

'강남'

In [50]:
value2 = a[3][1][3]
value2

300

In [51]:
value3 = a[3][3]
value3

'c'

In [52]:
"출력 결과 = %s & %s & %s" % (value1, value2, value3)

'출력 결과 = 강남 & 300 & c'

### 3. 아이템 추가하기 : 연산자와 함수를 이용한 리스트 아이템 추가

1) 산술연산자 : +,*
2) 리스트의 함수(메서드) : 리스트.append(), 리스트.extend(), 리스트.insert()

### 3-1) 산술연산자

* 종류 : +, *

* 특징 : 원본에 반영되지 않는다

In [54]:
# 리스트끼리 연결하기 : +
a = [1, 2, 3]
b = [4, 5, 6]

In [55]:
# 리스트 대상 곱하기 : *
b * 3 # b + b + b

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [56]:
b

[4, 5, 6]

### 4. 리스트 타입의 함수 (method)
* 종류

    - 리스트.append(추가할 아이템) : 인자값을 통채로 리스트의 마지막 아이템으로추가, 인자값은 1개만 받음 = 1개의 아이템만 추가 가능
    
    - 리스트.extend(추가할 아이템) : 인자값의 아이템을 뽑아서 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음, 단 여러 개의 아이템
                                     추가가능
    
    - 리스트 .insert(인덱스 번호, 추가할 아이템) : 위치를 지정해서 아이템을 삽입할 수 있음, 통채로 아이템을 추가
    
    - 특징 : 원본에 바로 적용이됨
    
* 참고 연산자 : in 연산자(결과값은 bool type)

In [67]:
# 리스트 생성하기
a = [1, 2, 3]
a

[1, 2, 3]

In [68]:
# append()
# 문법 : 리스트.append(추가할 아이템)
a.append(4)
a

[1, 2, 3, 4]

In [69]:
# 추가할 자료로 [5,6]을 제공한다면
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [60]:
a[4]

[5, 6]

In [70]:
# extend()
# 문법 : 대상리스트.extend(리스트)
# append()와의 차이점 : 인자값으로 리스트만 받을 수 있다.
# 리스트 길이만큼 인덱스 길이가 늘어난다(append는 무조건 1만큼만 연장됨)
a.extend([7, 8, 9])
a

[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [71]:
a.extend([10])

In [72]:
a

[1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [73]:
# insert()
# 문법 : 대상리스트.insert(인덱스번호, 추가할 아이템)
# 다른 함수와의 차이점 : 아이템 추가가 마지막 인덱스가 아닌 지정한 인덱스를 기준으로
# append와의 유사점 : 하나의 인덱스에 다 때려박음
a.insert(0, 100)
a

[100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [76]:
# in 키워드는 특정 요소가 리스트 내에 있는지 없는지 여부를 물어봅니다
# 값 in 키워드
# 값 100이 a리스트내에 존재하나요? => in a
99 in a

False

In [77]:
# not in 키워드는 특정 요소가 리스트 내부에 없는지 여부를 물어봅니다
# 값 not in 리스트
# 50이 a리스트에 존재 안 합니까? -> 50 not in a 
50 not in a

True

### << 연습문제 >>

아래의 순서에 맞추어 직접 실행해보세요

1) 빈 리스트 생성

2) 1번 리스트에 숫자 1, 2, 3을 아이템으로 추가

3) 2번 리스트의 3번째 위치에 문자 100을 아이템으로 추가

4) 3번 리스트의 마지막에 문자 A, B를 아이템으로 가진 리스트를 아이템으로 추가

5) 4번 리스트의 아이템을 2번 반복해서 가지는 리스트를 출력

In [83]:
list = []

In [84]:
list.extend([1, 2, 3])
list

[1, 2, 3]

In [85]:
list.insert(2, "100")

In [88]:
list.append(['A,B'])

In [89]:
list

[1, 2, '100', 3, ['A,B']]

In [90]:
list.append(['A','B'] * 2)
list

[1, 2, '100', 3, ['A,B'], ['A', 'B', 'A', 'B']]

In [3]:
a = [1, 2, 3, 4, 5]
b = a

In [4]:
a[0] = 10

In [5]:
print(a)
print(b)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [6]:
# 2. copy() 메서드로 복사하기
c = a.copy()

In [8]:
# 파이썬에서는 할당된 주소값을 id(자료)로 조회할 수 있다
print(id(a), id(b))
print(id(a), id(c))

2694399233984 2694399233984
2694399233984 2694387671616

In [9]:
# a를 변경해도 c는 영향을 받지 않는다
a[2] = 20
print(a, b, c)

[10, 2, 20, 4, 5] [10, 2, 20, 4, 5] [10, 2, 3, 4, 5]

In [10]:
# 3. list()로 복사하기
# list(자료)를 넣으면 그 자료를 힙에 새롭게 하당해 리스트화한다
d = list(c)

In [11]:
print(c,d)

[10, 2, 3, 4, 5] [10, 2, 3, 4, 5]

In [12]:
# 깊은복사 여부 확인
print(id(c), id(d))

2694387671616 2694387812992

In [13]:
# 4. 슬라이싱 전체범위 지정으로 복사하기
e = d[:]
print(id(d), id(e))
print(d,e)

2694387812992 2694399240576
[10, 2, 3, 4, 5] [10, 2, 3, 4, 5]

### << 연습문제 >>

1. a 리스트를 이용하여 다음과 같은 문자열을 출력하시오

    a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']
    
    출력문 : you too

In [32]:
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']
a

['Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [17]:
a.sort()
a

['Life', 'is', 'need', 'python', 'short', 'too', 'you']

In [18]:
a.reverse()
a

['you', 'too', 'short', 'python', 'need', 'is', 'Life']

In [22]:
a[0:2]

['you', 'too']

In [26]:
b = len(a)
b

7

In [ ]:
3. a 리스트의 첫번째 아이템에 길이를 추가하세요
   (결과) [7 ,'you', 'too', 'short', 'python', 'need', 'is', 'Life']

In [33]:
a.insert(0, len(a))
a

[7, 'Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [ ]:
4. 아래와 같이 크기 순서가 없는 리스트를 만들고 내림차순 정렬로 바꿔보세요
    [1, 3, 9, 2, 6, 10]
     (결과) [10, 9, 6, 4, 2, 1]

In [27]:
b = [1, 3, 9, 2, 6, 10]

In [28]:
b.sort()
b

[1, 2, 3, 6, 9, 10]

In [31]:
b.reverse()
b

[10, 9, 6, 3, 2, 1]

In [ ]:
5. 다음과 같은 아이템을 가지는 리스트를 만들고 아이템을 삭제해 보세요
    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    (결과) [2, 4, 6, 8, 10]

In [40]:
c = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
del c[::2]
c

[2, 4, 6, 8, 10]

## 자료형 - Tuple

- 생성 문법 기호 : ()
- 아이템을 수정/삭제할 수 없기 때문에 실수로 데이터가 변경되거나 삭제되는 위험이 적다
- 객체를 저장하는데 더 적은 메모리를 사용한다
- dictionay 자료형의 key로 활용할 수 있다
- 함수의 인자는 tuple 자료형으로 전달된다

In [46]:
# 하나의 아이템을 가진 리스트
a = [1]
type(a)

list

In [49]:
# 문법기호 : 튜플은() 를 이용해 생성하되 생략이 가능함. 단 쉼포는 무조건 1개이상 들어감
tu = (3,)
type(tu)

tuple

In [50]:
# tuple(리스트)로 처리하면 리스트를 튜플로 변환할 수 있다.
b = tuple(a)
print(a,b)
print(type(a), type(b))

[1] (1,)
<class 'list'> <class 'tuple'>

In [51]:
# 반대로 list(튜플) 로 처리하면 튜플은 리스트로 변환할 수도 있다.
c = list(b)
print(b,c)
print(type(b), type(c))

(1,) [1]
<class 'tuple'> <class 'list'>

In [53]:
# 변수 하나에 값을 여러개 대입하면 자동으로 튜플로 간주합니다
x = 56, 78, 29, 100
print(x)
print(type(x))

(56, 78, 29, 100)
<class 'tuple'>

In [54]:
# 튜플 내부의 자료 개수만큼 변수를 대입해주면 하나씩 나눠서 값을 받는다
x1, x2, x3, = 1, 2, 3
print(x1)
print(x2)
print(x3)

1
2
3

### 32. 인덱싱

In [55]:
x[0]

56

### 3. 슬라이싱

In [56]:
x[:3]

(56, 78, 29)

### 4. 튜플 연산자
    - 산술 연산자 : +, *

In [59]:
# 여러 개의 튜플 아이템을 합쳐서 새로운 튜플로 구성하기: +
x + x

(56, 78, 29, 100, 56, 78, 29, 100)

In [60]:
# 한 개의 튜플을 반복해서 확장해서 새로운 튜플 만들기 : *
x * 3

(56, 78, 29, 100, 56, 78, 29, 100, 56, 78, 29, 100)

### 5. 수정/삭제 할 수 없는 튜플

In [62]:
# 수정하기 -> 인덱싱으로 하나의 아이템에 접근해서 수정
x[0] = 0

TypeError: 'tuple' object does not support item assignment

In [63]:
# 삭제하기 - del키워드 + 인덱싱
del x[0]

TypeError: 'tuple' object doesn't support item deletion